# Enable compression if supported
<IfModule mod_brotli.c>
    AddOutputFilterByType BROTLI_COMPRESS text/html text/css text/javascript application/javascript application/json
</IfModule>
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript application/json
</IfModule>

# Caching for static assets
CacheFile public/
<IfModule mod_headers.c>
    Header append Vary Accept-Encoding

    # Security Headers
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://apis.google.com; frame-ancestors 'none'"
    # Prevent Clickjacking
    Header set X-Frame-Options "DENY"
    # Prevent MIME-type sniffing
    Header set X-Content-Type-Options "nosniff"
    # Enforce HTTPS with HSTS
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains" env=HTTPS
    # Referrer Policy
    Header set Referrer-Policy "strict-origin-when-cross-origin"
    # Cross-Origin Policies
    Header set Cross-Origin-Resource-Policy "same-origin"
    Header set Cross-Origin-Opener-Policy "same-origin"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Disable directory listing
Options -Indexes

# Error logging
php_flag display_errors Off
php_value error_reporting 0
php_flag log_errors On
php_value error_log "../storage/logs/php_errors.log"
